<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved.</p>
        <p>Created by: <a href="#">Dianophe</a></p>
    </div>
    <!-- container -->
</div>
<!-- slim-footer -->
<script src="/vendor/jquery.cookie/js/jquery.cookie.js"></script>
<script src="/vendor/jquery.steps/js/jquery.steps.js"></script>
<script src="/vendor/parsleyjs/js/parsley.js"></script>
<script src="/vendor/popper.js/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>

<script src="/js/main.js"></script>
<script src="/js/controllers/search.js"></script>

<script src="/js/slim.js"></script>

</body>

</html>