<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="index.html">Travel<div class="tx-info">Time</div></a></h2>

            <div class="search-box">
                <input type="text" class="form-control" placeholder="Chercher">
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
            <!-- search-box -->
        </div>
        <!-- slim-header-left -->
        <div class="slim-header-right">
            <!-- dropdown -->
            <div class="dropdown dropdown-b">
                <a href="" class="header-notification" data-toggle="dropdown">
                    <i class="icon ion-ios-bell-outline"></i>
                    <span class="indicator"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-header">
                        <h6 class="dropdown-menu-title">Notifications</h6>
                        <div>
                            <a href="">Marquer tout comme lu</a>
                        </div>
                    </div>
                    <!-- dropdown-menu-header -->
                    <div class="dropdown-list">
                        <!-- loop starts here -->
                        <a href="" class="dropdown-link">
                            <div class="media">
                                <img src="http://via.placeholder.com/500x500" alt="">
                                <div class="media-body">
                                    <p><strong>DiscTube</strong> a fini de redémarrer.</p>
                                    <span>8 Avril 2018 à 19:57</span>
                                </div>
                            </div>
                            <!-- media -->
                        </a>
                        <div class="dropdown-list-footer">
                            <a href="#"><i class="fa fa-angle-down"></i> Voir toutes les notifications</a>
                        </div>
                    </div>
                    <!-- dropdown-list -->
                </div>
                <!-- dropdown-menu-right -->
            </div>
            <!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <span>{{ username }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> Mon profile</a>
                        <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Mes applications</a>
                        <a href="page-activity.html" class="nav-link"><i class="icon ion-compose"></i> Editer mon profile</a>
                        <a href="/logout" class="nav-link"><i class="icon ion-forward"></i> Se déconnecter</a>
                    </nav>
                </div>
                <!-- dropdown-menu -->
            </div>
            <!-- dropdown -->
        </div>
        <!-- header-right -->
    </div>
    <!-- container -->
</div>
<!-- slim-header -->