<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="nav-item with-sub mega-dropdown">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>Applications</span>
                </a>
                <div class="sub-item">
                    <div class="row">
                        <div class="col-lg">
                            <label class="section-label">Musique</label>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><a href="#">App music 1</a></li>
                                        <li><a href="#">App music 2</a></li>
                                    </ul>
                                </div>
                                <!-- col -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- col -->
                        <div class="col-lg mg-t-30 mg-lg-t-0">
                            <label class="section-label">Gestion</label>
                            <ul>
                                <li><a href="#">App gestion 1</a></li>
                                <li><a href="#">App gestion 2</a></li>
                            </ul>
                        </div>
                        <!-- col -->
                        <div class="col-lg mg-t-30 mg-lg-t-0">
                            <label class="section-label">Jeux Vidéo</label>
                            <ul>
                                <li><a href="#">App jeux 1</a></li>
                                <li><a href="#">App jeux 2</a></li>
                            </ul>
                        </div>
                        <!-- col -->
                    </div>
                    <!-- row -->
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item with-sub">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-book-outline"></i>
                    <span>Documentation</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="#">Principe</a></li>
                        <li><a href="#">Ajouter son serveur</a></li>
                        <li class="sub-with-sub">
                            <a href="#">Les applications</a>
                            <ul>
                                <li><a href="#">Installer une app</a></li>
                                <li><a href="#">Acceder aux logs</a></li>
                                <li><a href="#">Supprimer une app</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-analytics-outline"></i>
                    <span>Widgets (Bientôt)</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- container -->
</div>
<!-- slim-navbar -->