<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item with-sub">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Accueil</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="/search">Rechercher</a></li>
                        <li><a href="#">Notre compagnie</a></li>
                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item with-sub mega-dropdown">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>Idées de voyage</span>
                </a>
                <div class="sub-item">
                    <div class="row">
                        <div class="col-lg">
                            <label class="section-label">Europe</label>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><a href="#">France</a></li>
                                        <li><a href="#">Allemagne</a></li>
                                        <li><a href="#">Angleterre</a></li>
                                        <li><a href="#">Pays-Bas</a></li>
                                        <li><a href="#">Finland</a></li>
                                    </ul>
                                </div>
                                <!-- col -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- col -->
                        <div class="col-lg mg-t-30 mg-lg-t-0">
                            <label class="section-label">Amérique du nord</label>
                            <ul>
                                <li><a href="#">Guatemala</a></li>
                                <li><a href="#">Belize</a></li>
                                <li><a href="#">Honduras</a></li>
                                <li><a href="#">Salvador</a></li>
                                <li><a href="#">Nicaragua</a></li>
                                <li><a href="#">Panama</a></li>
                            </ul>
                        </div>
                        <!-- col -->
                        <div class="col-lg mg-t-30 mg-lg-t-0">
                            <label class="section-label">Asie</label>
                            <ul>
                                <li><a href="#">Arménie</a></li>
                                <li><a href="#">Corée du Sud</a></li>
                                <li><a href="#">Chine</a></li>
                                <li><a href="#">Cambodge</a></li>
                                <li><a href="#">Japon</a></li>
                                <li><a href="#">Jordanie</a></li>
                            </ul>
                        </div>
                        <!-- col -->
                    </div>
                    <!-- row -->
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-analytics-outline"></i>
                    <span>Promotions</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-analytics-outline"></i>
                    <span>FAQ</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- container -->
</div>
<!-- slim-navbar -->